ul.answers {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  margin: auto;
}

ul.answers>li {
  background: #f1f1f1;
  padding: 3px 8px;
}

ul.answers .string {
  color: brown;
  font: bold 18px monospace;
}

ul.answers .string:before, ul.answers .string:after {
  content: '"';
}
