* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, Roboto, sans-serif;
	outline: none;
}

.wrapper {
	width: 60%;
	margin: auto;
	height: 100vh;
	display: flex;
}

.wrapper .container {
	padding: 20px;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
	width: 100%;
	margin: auto;
	position: relative;
	height: 100vh;
}

.wrapper .container:nth-child(2) {
	width: 20%;
	border-left: none;
	border-right: 1px solid #bfbfbf;
}

ul {
	list-style: none;
	max-height: calc(95vh - 30px);
	overflow-y: auto;
}

ul li {
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	height: calc(100% + 30px);
}

ul li .text {
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	color: #333;
	padding: 20px;
	padding-bottom: 40px;
}

ul li .info {
	position: absolute;
	left: -10px;
	right: -10px;
	text-align: center;
	bottom: 5px;
}

ul li .info span {
	background: #fafafa;
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #bfbfbf;
}

input {
	position: absolute;
	bottom: 10px;
	left: 20px;
	right: 20px;
	height: 30px;
	width: calc(100% - 40px);
	padding: 10px;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	transition: 0.3s;
}

input:focus {
	border: 1px solid blue;
}

input:focus::placeholder {
	opacity: 0;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .content {
	width: 300px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	position: absolute;
	background: #ffffff;
	border: 1px solid #bfbfbf;
	border-radius: 5px;
	z-index: 9;
}

.modal .content button {
	height: 30px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .content input {
	position: unset;
}

.modal .bg {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000033;
}

button {
	background: #2a57b9;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	opacity: 0.8;
}
